
.fraction, .top, .bottom {
    padding: 0 5px;    
}

.fraction {
    display: inline-block;
    text-align: center;
    transform: translateY(25%);
}

.bottom{
    border-top: 1px solid #000;
    display: block;
}
