<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/static/n_logo.ico">
  <link rel="stylesheet" type="text/css" href="/static/css/n_style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <div class="s-container-wide">
    <div class="scol-md-3 scol-andr-12 logo">
      <img class="logo-img" src="/static/images/computer-svgrepo-com.svg" /><a href="/">Nybble</a>
    </div>
    <div class="scol-md-9 scol-andr-12 navigation">
      <div class="scoll-md-12 slogan">Чтобы сделать умное лицо, умножьте в уме 385 на 256...</div>
      <!--
      <div class="scol-md-4 n-nav"><a href="">JavaScript</a></div>
      <div class="scol-md-4 n-nav"><a href="">Python</a></div>
      <div class="scol-md-4 n-nav"><a href="">Linux</a></div>
      -->
      <a href="" class="scol-md-4 n-nav">JavaScript</a>
      <a href="" class="scol-md-4 n-nav">Python</a>
      <a href="" class="scol-md-4 n-nav">Linux</a>
    </div>
  </div>
  <div class="s-container-wide dark-brown">
    <div class="s-container dark-brown">
      <div class="scol-md-4 tile">
        <a href="">
          <div class="tile-img" style="background-image: url(/static/images/tuxwhitebg.png);"></div>
        </a>

          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

      </div>
      <div class="scol-md-4 tile">
        <a href="">
          <div class="tile-img" style="background-image: url(/static/images/js.png);"></div>
        </a>

        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

      </div>
      <div class="scol-md-4 tile">
        <a href="">
          <div class="tile-img" style="background-image: url(/static/images/python1.png);"></div>
        </a>

        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

      </div>

    </div>

<!-- Another row -->

  <!--</div>-->
<script src="/static/js/local_vue.js"></script>
</body>
</html>
